auto-install-peers=true
git-branch-lockfile=true
registry=https://vpce-00921a04a8c16b582-jj5tie0n.d.codeartifact.us-east-1.vpce.amazonaws.com/npm/d/asymmetric-810814938195/Asymmetric-Registry/
//vpce-00921a04a8c16b582-jj5tie0n.d.codeartifact.us-east-1.vpce.amazonaws.com/npm/d/asymmetric-810814938195/Asymmetric-Registry/:always-auth=true